---
title: Sample Test Results in TRT Format
date: 2015-08-26
docurl: /specs/Sample-TRT-TestResults.html
status: Release
---
These are a set of test results in [Test Results Transmission Format](/specs/TestResultsTransmissionFormat.html). They were used during integration testing between the test delivery system and the data warehouse and reporting system. They are suitable for development and testing of data conversion, import, analytics, and reporting systems. The test results are for simulated students and do not contain any real student data.

* [Download Sample Test Results Zip File](ftp://ftps.smarterbalanced.org/~sbacpublic/Public/Sample-TRT-TestResults-2015-06-03.zip)
