---
title: SmarterApp - Deployment
---
<!DOCTYPE html>
<html>

<head>
<title>{{ page.title }}</title>
{% include head.html %}
<style>
th {
	text-align: left;
	font-weight: bold;
}
td {
	padding-bottom: 10px;
}
</style>
</head>

<body>
	<div id="main">
		{% include header.html %}
		<div id="content" style="min-height: 400px;">
			<div class="title">Smarter Balanced Deployment Information</div>
			<table class="layout">
				<tr style="border-bottom: solid;">
					<th>Name</th>
					<th style="width: 6.5em;">Date</th>
					<th style="width: 4.5em;">Status</th>
					<th style="width: 4.5em;">Version</th>
					<th style="width: 45%">Description</th>
				</tr>
				{% assign deployment_pages = (site.deployment | sort: 'date' | reverse) %}
				{% for page in deployment_pages %}
					{% comment %} Do not display any pages that are categorized as "checklist" pages. {% endcomment %}
					{% if page.categories contains "checklist" %}
						{% continue %}
					{% elsif page.categories contains "checklist_index" %}
						{% continue %}
					{% endif %}
					<tr>
						<td>
						<a href="{{ page.docurl }}">{{ page.title }}</a><br/>
						<a href="{{ page.url }}" style="font-size:smaller;">(abstract)</a></td>
						<td>{{ page.date | date_to_string }}</td>
						<td>{{ page.status }}</td>
						<td>{{ page.version }}</td>
						<td>{{ page.content }}</td>
					</tr>
				{% endfor %}
			</table>
		</div>
		{% include footer.html %}
	</div>
</body>
</html>
