---
title: SmarterApp - Implementation Readiness
---
<!DOCTYPE html>
<html>

<head>
<title>{{ page.title }}</title>
{% include head.html %}
<style>
th {
	text-align: left;
	font-weight: bold;
}
td {
	padding-bottom: 10px;
}
</style>
</head>

<body>

<div id="main">
	{% include header.html %}

	<div id="content" style="min-height: 400px;">

{% capture ulist %}{% for post in site.irp %}{% unless forloop.first %}|{% endunless %}{{ post.date }}`{{ post.docurl }}`{{ post.url }}`{{ post.title }}`{{ post.status }}`{{ post.version }}`{{ post.content }}{% endfor %}{% endcapture %}
{% assign slist = ulist | split: '|' | sort %}

		<div class="title">Implementation Readiness</div>
		<p>The Implementation Readiness Resource List provides a centralized listing of key technical resources to support the implementation of Smarter Balanced Assessments. The list of IRP resources is provided within the <a href="https://www.smarterapp.org/documents/IRP_Overview.pdf">IRP Overview Document</a></p>
		<p>For questions, please contact the Smarter Balanced Technical team via <a href="mailto:support@smarterbalanced.org">support@smarterbalanced.org</a></p>		
		<!--<table class="layout">
			<tr style="border-bottom: solid;">
				<th>Name</th>
				<th style="width: 6.5em;">Approval Date</th>				
			</tr>
			{% for entry in slist reversed %}
			{% assign parts = entry | split: '`' %}
			<tr>
				<td>
				<a href="{{ parts[1] }}">{{ parts[3] }}</a><br/>
				<td>{{ parts[0] | date_to_string }}</td>				
			</tr>
			{% endfor %}
		</table>-->
	</div>
	
	{% include footer.html %}
</div>

</body>

</html>
