---
title: SmarterApp - Assessment Platform
---
<!DOCTYPE html>
<html>

<head>
<title>{{ page.title }}</title>
{% include head.html %}
<style type="text/css">
li {
	padding-bottom: 10px;
}
</style>
</head>

<body>

<div id="main">
	{% include header.html %}
	<div id="content" style="min-height: 400px;">
		<br />
		<p style="font-weight: bold;">SmarterApp is a community of organizations 
		devoted to collaboration on an open software suite for the support of educational 
		assessment. The project is used by but is not exclusive to the <a href="http://www.smarterbalanced.org">Smarter Balanced Assessment Consortium</a>.</p>
		<p>Please see the
		<a href="about.html">About Page</a> for more information about SmarterApp.org.</p>
		<table class="layout" style="width: 100%; vertical-align:middle;">
			<tr style="vertical-align:bottom;">
				<td>
					<h1>Recent Updates</h1>
				</td>				
			</tr>
		</table>
		{% for post in site.posts %}
			<hr/>
			<a href="{{ post.url }}"><b>{{ post.date | date_to_string }}: {{ post.title | escape }}</b></a><br/>
			{{ post.content }}<br/>
		{% endfor %}
	</div>
	{% include footer.html %}
</div>

</body>

</html>
