---
title: SmarterApp - Assessment Platform
---

<!DOCTYPE html>
<html>

<head>
<title>{{ page.title }}</title>
{% include head.html %}
<style type="text/css">
li {
	padding-bottom: 10px;
}
</style>
</head>

<body>

<div id="main">
	{% include header.html %}

	<div id="content" style="min-height: 400px;">
		<br />
		<p style="font-weight: bold;">SmarterApp is a community of organizations 
		devoted to collaboration on an open software suite for the support of educational 
		assessment. </p>
		<p>This site is a work in progress. Please excuse flaws and typos. See the
		<a href="about.html">About page</a> for more detail.</p>
		<h1>News</h1>
		<ul style="padding-right: 40px;">
			{% for post in site.categories['news'] %}
				<li>
					<b>{{ post.date | date_to_string }}</b>
					{{ post.excerpt | remove: '<p>' | remove: '</p>' }}
				</li>
			{% endfor %}
		</ul>
	</div>

	{% include footer.html %}
</div>

</body>

</html>
