---
title: SmarterApp - Assessment Platform
---
<!DOCTYPE html>
<html>

<head>
<title>{{ page.title }}</title>
{% include head.html %}
<style type="text/css">
li {
	padding-bottom: 10px;
}
</style>
</head>

<body>

<div id="main">
	{% include header.html %}
	<div id="content" style="min-height: 400px;">
		<br />
		<p style="font-weight: bold;">SmarterApp is a community of organizations 
		devoted to collaboration on an open software suite for the support of educational 
		assessment. The project is used by but is not exclusive to the <a href="http://www.smarterbalanced.org">Smarter Balanced Assessment Consortium</a>.</p>
		<p>Please see the
		<a href="about.html">About Page</a> for more information about SmarterApp.org.</p>
		<table style="width: 100%; vertical-align:middle;">
			<tr style="vertical-align:bottom;">
				<td>
				<h1>News
				<a href="http://feeds.feedburner.com/smarterapp/news" rel="alternate" type="application/rss+xml">
				<img src="http://www.feedburner.com/fb/images/pub/feed-icon32x32.png" alt="feed" style="vertical-align: middle; border: 0"></a></h1>
				</td>
				<td style="text-align: center; width: 280px; vertical-align:middle;">
				<form style="border:1px solid #ccc;padding:3px;text-align:center;line-height:1.5;" action="http://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('http://feedburner.google.com/fb/a/mailverify?uri=smarterapp/news', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true"><b>Subscribe to SmarterApp News</b><br/>Email address: <input type="text" style="width:140px" name="email"/><br/><input type="hidden" value="smarterapp/news" name="uri"/><input type="hidden" name="loc" value="en_US"/><input type="submit" value="Subscribe" /></form>
				</td>
			</tr>
		</table>
		<ul style="padding-right: 40px;">
			{% for post in site.posts %}
			<li><a href="{{ post.url }}"><b>{{ post.date | date_to_string }}: {{ post.title | escape }}</b></a> {{ post.content }} </li>
			{% endfor %}
		</ul>
	</div>
	{% include footer.html %}
</div>

</body>

</html>
