---
title: SmarterApp - Specifications
---
<!DOCTYPE html>
<html>

<head>
{% include head.html %}
<style>
th {
	text-align: left;
	font-weight: bold;
}
td {
	padding-bottom: 10px;
}
</style>
</head>

<body>

<div id="main">
	{% include header.html %}

	<div id="content" style="min-height: 400px;">
		<div class="title">
			Specifications and Related Documents</div>
		<table>
			<tr style="border-bottom: solid;">
				<th>Name</th>
				<th>Date</th>
				<th>Status</th>
				<th style="width: 50%">Description</th>
			</tr>
			{% for post in site.categories['spec'] %}
			<tr>
				<td>
				<a href="{{ post.docurl }}">{{ post.title }}</a></td>
				<td>{{ post.date | date_to_string }}</td>
				<td><a href="{{ post.url }}" style="color:inherit; text-decoration: inherit;" >{{ post.status }}</a></td>
				<td>{{ post.excerpt | remove: '<p>' | remove: '</p>' }}</td>
			</tr>
			{% endfor %}
		</table>
	</div>
	
	{% include footer.html %}
</div>

</body>

</html>
