<!-- header bar -->    
<div style="height:65;">

	<!-- logo -->
	<div style="float:left;">
		    <a href="/"><img src="/res/SmarterApp_logo.png" alt="SmarterApp Logo" width="214" height="60"></a>
	</div>
		
	<!-- top nav menu and search box -->	
	<div style="text-align:right;">
		<div class="top-nav">
			<a href="./SmarterApp_files/SmarterApp.htm">Home</a>
			&nbsp;&bull;&nbsp;
			<a href="http://www.smarterapp.org/TermsOfService.html">Terms of Service</a>
	    </div>

		<!-- search box -->		    
		<div><form action="javascript:on_search()">
		    <input id="search_text" type="text" style="width:20em;height:1.6em;"/>
		    <input type="submit" value="Search" style="height:1.6em;"/>
		    <script type="text/javascript">
function on_search()
{
	window.location.href = "http://www.google.com/search?q=" +
		encodeURIComponent("site:www.smarterapp.org " + document.getElementById("search_text").value);
}
		    		
		    </script>
	    </form></div>
	</div>
</div>
    
<!-- Main Menu -->
<div id="menu-main" class="menu-bar-holder">
    <ul class="menu-bar">
        <li>
            <a href="/about.html">About</a>
        </li>
        <li>
            <a href="/implementation-readiness.html">Implementation Readiness</a>
        </li>
        <li>
            <a href="/architecture.html">Architecture</a>
        </li>
        <li>
            <a href="/specifications.html">Specifications</a>
        </li>
        <li>
            <a href="/manuals.html">Manuals</a>
        </li>
        <li>
            <a href="/deployment.html">Deployment</a>
        </li>
        <li>
            <a href="/securebrowsers.html">Secure Browsers</a>
        </li>
        <li>
            <a href="/source.html">Source Code</a>
        </li>
        <li>
            <a href="/lab.html">Lab</a>
        </li>
        <!--
        <li>
            <a href="about.htm">Sample Dropdown</a>
            <div class="drop">
                <ul class="sub-menu">
                    <li><a href="about.htm">Sample 1</a></li>
                    <li><a href="about.htm">Sample 2</a></li>
                </ul>
            </div>
        </li>
        -->
    </ul>
</div>
<!-- Site Update Notice -->
<div style="padding: 15px; background: #ffffac; border: solid 1px #a7a73d; margin-top: 10px; border-radius: 8px; font-weight: bold;">
NOTE: Smarter Balanced is updating content within the SmarterApp Website. Please contact <a href="mailto:support@smarterbalanced.org">support@smarterbalanced.org</a> if you plan to use any content posted on the SmarterApp Website.<br><br>As of September 2018 the Smarter Balanced Test Delivery System (TDS) is no longer supported.<br><br>The code base and documentation for the TDS is available within the <a href='https://github.com/SmarterApp?utf8=%E2%9C%93&q=TDS'>Smarter Balanced GitHub repository</a>.</div>
