<div>
    <!-- logo -->
    <a href="/"><img src="/res/SmarterApp_logo.png" alt="SmarterApp Logo" width="214" height="60"></a>
    <!-- top-nav -->
    <ul id="menu-top" class="top-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/TermsOfService.html">Terms of Service</a></li>
    </ul>
    </div>
<!-- Main Menu -->
<div id="menu-main" class="menu-bar-holder">
    <ul class="menu-bar">
        <li>
            <a href="/about.html">About</a>
        </li>
        <li>
            <a href="/architecture.html">Architecture</a>
        </li>
        <li>
            <a href="/specifications.html">Specifications</a>
        </li>
        <!--
        <li>
            <a href="about.htm">Sample Dropdown</a>
            <div class="drop">
                <ul class="sub-menu">
                    <li><a href="about.htm">Sample 1</a></li>
                    <li><a href="about.htm">Sample 2</a></li>
                </ul>
            </div>
        </li>
        -->
    </ul>
</div>

