<!DOCTYPE html>
<html>

<head>
<title>{{ page.title | escape }}</title>
{% include head.html %}
</head>

<body>

<div id="main">
	{% include header.html %}
	<div id="content" style="min-height:400px;">
		<div class="title">{{ page.title | escape }}</div>
		<table class="layout">
			<tr>
				<td style="font-weight:bold;">Date:&nbsp;</td>
				<td></td>
			</tr>
			<tr>
				<td style="font-weight:bold;">Document:&nbsp;</td>
				<td><a href="{{ page.docurl }}">Click Here</a></td>
			</tr>
			<tr>
				<td style="font-weight:bold;">Status:&nbsp;</td>
				<td>{{ page.status | escape }}</td>
			</tr>
			<tr>
				<td style="font-weight:bold;">Version:&nbsp;</td>
				<td>{{ page.version | escape }}</td>
			</tr>
		</table>
	</div>
	{% include footer.html %}
</div>

</body>

</html>
